{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <style>
  html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #73748F;
   }
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    .social-icons a {
      display: inline-block;
      height: 3.5rem;
      width: 3.5rem;
      background-color: #4BB7F4;
      color: #fff !important;
      border-radius: 100%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 3.0rem;
      margin-right: 1rem;
    }

    .social-icons a:last-child {
      margin-right: 0;
    }

    .social-icons a:hover {
      background-color: #6d7fcc;
    }

    .square {
        height: 220px;
        width: 220px;
        margin-right: 30px;
        margin-bottom: 15px;
        overflow: hidden;
    }
  .navbar {
	background-color: #f5f5f5;
    color: #73748F;
   }
  </style>

    <meta charset="utf-8" />
    <title>Hello there (General Kenobi)!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link" href="{% url 'bio' %}">Ihsan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'bio' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'index' %}">Status</a>
                <a class="nav-item nav-link" href="{% url 'lib' %}">Books</a>
                <a class="nav-item nav-link" href="{% url 'subscribe' %}">Subscribe</a>
            </div>
        </div>
    </nav>

  <body>
    <div class="container">
        <div id="content">
			  <section class="resume-section p-3 p-lg-5 d-flex d-column">
				<div class="my-auto">
					<div class="img-fluid float-left">
						<div class="square"><img class="img-fluid img-profile rounded-circle" src="https://i.postimg.cc/tJKVprwt/749_AAF23-4_A14-46_D3-_BEA9-_E801_B5711960.png" alt=""></div>
					</div>
				  <h1 class="mb-0">Ihsan
					<span class="text-primary">Muhammad Aulia</span>
				  </h1>
				  <div class="subheading mb-5">Jl. Bambu Kuning Selatan No. 19 · Jakarta Timur, PO BOX 13890 · 08977073540 ·
					<a href="mailto:ihsanmaulia@gmail.com">ihsanmaulia@gmail.com</a>
				  </div>
				  <p class="lead mb-5">I'm a computer science student at University of Indonesia. I usually spend my free time by reading news, especially about tech. I’m a consistent learner, and I love to expand my abilities and experiences by trying something new.</p>
				  <div class="social-icons">
					<a href="https://twitter.com/ihsanauliaa">
					  <img src= https://i.postimg.cc/J4cMx6Kw/twitter-logo-silhouette_1.png width="32" height="32"></img>
					</a>
					<a href="https://www.linkedin.com/in/ihsan-ma-175a64153/">
					  <img src= https://i.postimg.cc/SN57ZdKr/linkedin.png width="32" height="32"></img>
					</a>
					<a href="https://gitlab.com/ihsanaulia">
					  <img src= https://i.postimg.cc/0N3sjL5S/git-logo.png width="32" height="32"></img>
					</a>
				  </div>
				</div>
			  </section>
			</div>
        </div>
    </div>
  </body>

  <footer class = "footer">
	<div class = "container">
		<span class = "text">Ihsan M. Aulia</span>
		<span class = "text">© 2018 Copyright</span>
	</div>
  </footer>


</html>

{% block content %}
{% endblock %}
