{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <style>
  html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
  }
  .footer {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
	background-color: #f5f5f5;
    color: #73748F;
   }
  .btn-primary.custom-btn1 {
	background-color: #87cefa;
	border-color: #87cefa;
  }
  .btn-primary.custom-btn2 {
	background-color: #D3D3D3;
	border-color: #D3D3D3;
  }
  .btn-primary.custom-btn3 {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
    color: #73748F;
  }
  .accordion-content {
      display: none;
  }
  .se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif) center no-repeat #fff;
  }
  .navbar {
	background-color: #f5f5f5;
    color: #73748F;
   }
  </style>

    <meta charset="utf-8" />
    <title>Write anything!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                $(".se-pre-con").fadeOut("slow");
            }, 250);
        });
        $(document).ready(function() {
            $("#button-blue").click(function() {
                $(".footer").css("background-color","#87cefa"); //edit, body must be in quotes!
                $(".footer").css("color","#ffffff"); //edit, body must be in quotes!
            });
        });
        $(document).ready(function() {
            $("#button-silver").click(function() {
                $(".footer").css("background-color","#D3D3D3"); //edit, body must be in quotes!
                $(".footer").css("color","#ffffff"); //edit, body must be in quotes!
            });
        });
        $(document).ready(function() {
            $("#button-default").click(function() {
                $(".footer").css("background-color","#f5f5f5"); //edit, body must be in quotes!
                $(".footer").css("color","#73748F"); //edit, body must be in quotes!
            });
        });
        $(document).ready(function($) {
            $('#accordion').find('.card-link').click(function(){

            //Expand or collapse this panel
            $(this).next().slideToggle('fast');

            //Hide the other panels
            $(".accordion-content").not($(this).next()).slideUp('fast');

            });
        });
    </script>
  </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link" href="{% url 'bio' %}">Ihsan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'bio' %}">Home</a>
                <a class="nav-item nav-link active" href="{% url 'index' %}">Status<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'lib' %}">Books</a>
                <a class="nav-item nav-link" href="{% url 'subscribe' %}">Subscribe</a>
            </div>
        </div>
    </nav>

    <body>
    <div class="se-pre-con"></div>
      <div class="container">
          <br>
          <h1>Hello, Apa kabar?</h1>
      </div>

      <div class="container">
          <div id="accordion">
              <div class="card">
                  <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseOne">Tentang pembuat website</a>
                          <div class="accordion-content default">
                            <li>I'm a computer science student at University of Indonesia. I usually spend my free time by reading news, especially about tech.</li>
                          </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseTwo">Keseharian pembuat website</a>
                          <div class="accordion-content">
                              <li>First Place - Abacus Competition Intermediate Level (2013 - 2016)</li>
                              <li>2006 Times Magazine Person of The Year (Seriously, look it up)</li>
                          </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseThree">Pengalaman pembuat website</a>
                          <div class="accordion-content">
                            <li>DPM UI Internship Project Officer (2018)</li>
                            <li>DPM UI Staff (2018 - 2019)</li>
                            <li>Freedom of 48 Logistical Staff (2015)</li>
                            <li>Junior High School Student Council Staff (2012 - 2013)</li>
                          </div>
                  </div>
              </div>
          </div>
      </div>

      <br>

      <div class="container">
          <button type="button" id="button-blue" class="btn btn-primary custom-btn1">Slight Blue</button>
          <button type="button" id="button-silver" class="btn btn-primary custom-btn2">Very Silver</button>
          <button type="button" id="button-default" class="btn btn-primary custom-btn3">Default</button>
      </div>

      <br>

      <div class="container">
          <div class= "form-group">
                <form id="form" method="POST" action="{% url 'post_status' %}">
                {% csrf_token %}
                {{status_form}}
                <br><button type="submit" name="submit" class="btn btn-lg btn-block btn-info">Submit</button>
          </div>
      </div>

      <div class="container">
          <div>
            {% for i in all_status %}
                <h3>{{i.title}}</h3>
                <p>{{i.status}}</p>
            {% endfor %}
          </div>

      </div>
  </body>

  <footer class = "footer">
	<div class = "container">
		<span class = "text">Ihsan M. Aulia</span>
		<span class = "text">© 2018 Copyright</span>
	</div>
  </footer>


</html>

{% block content %}
{% endblock %}
