{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <style>
  html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #73748F;
   }
  img {
       cursor: pointer;
  }
  #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    }

  #custom-search-input input{
    border: 0;
    box-shadow: none;
  }
  .navbar {
	background-color: #f5f5f5;
    color: #73748F;
   }
  </style>

    <meta charset="utf-8" />
    <title>Choose your books!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        var favorite=0;
        function select(id){
	        var ids= $('#' +id);
	        if (ids[0].src == 'https://i.postimg.cc/SxSXXX0B/unselected.png') {
                favorite++;
                ids[0].src = 'https://i.postimg.cc/TYX567tY/selected.png';
            } else {
                favorite--;
                ids[0].src = 'https://i.postimg.cc/SxSXXX0B/unselected.png';
            }
            $('#counter').html('<br><h1>Your favourite: '+ favorite+ '</h1>');
        }
        function pick(cat) {
	        $('#counter').html('<br><h1>Your favourite: '+ favorite+ '</h1>');
	        $('#books').html("<tr><th id='table'>Cover</th><th id='table'>Title</th><th id='table'>Author</th><th> Fav </th></tr>")
	        $.ajax({
		        url: 'https://www.googleapis.com/books/v1/volumes?q='+cat,
		        success: function(obj){
			        var i;
		            for(i = 0; i <obj.items.length; i++){
			        var title= obj.items[i]['volumeInfo']['title'];
			        var image= '<img src="' + obj.items[i]['volumeInfo']['imageLinks']['thumbnail'] +'">';
			        var author= obj.items[i]['volumeInfo']['authors'];
			        $('#books').append('<tr><td>'+image+'</td><td>'+title+'</td><td>'+ author+'</td><td> <img onclick = select("'+ obj.items[i].id +'") id='+obj.items[i].id+' src="https://i.postimg.cc/SxSXXX0B/unselected.png" style="height:50px;"></td></tr>');
		            }
	        }});
        }
    </script>
  </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link" href="{% url 'bio' %}">Ihsan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'bio' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'index' %}">Status</a>
                <a class="nav-item nav-link active" href="{% url 'lib' %}">Books<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'subscribe' %}">Subscribe</a>
            </div>
        </div>
    </nav>

  <body>
      <div class="container" id="counter">
          <br>
          <h1>Your favourite: 0</h1>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-md-10">
                <h3>Search your book</h3>
                    <div class="input-group mb-3">
                        <input type="text" id="search" value="" class="form-control input-lg" placeholder="Category">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="pick(search.value)">Search</button>
                        </div>
                    </div>
            	</div>
          </div>
      </div>

      <br>

      <table id='books' class="table container" style="text-align: center; background-color:rgb(255,255,255,0.5)">
			<tr>
                <th id='table'>Cover</th>
                <th id='table'>Title</th>
				<th id='table'>Author</th>
				<th> Favorite </th>
            </tr>
      </table>
  </body>

  <footer class = "footer">
	<div class = "container">
		<span class = "text">Ihsan M. Aulia</span>
		<span class = "text">© 2018 Copyright</span>
	</div>
  </footer>


</html>

{% block content %}
{% endblock %}
