{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
  {% csrf_token %}
  <style>
  html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #73748F;
   }
  .social-icons a {
      display: inline-block;
      height: 3.5rem;
      width: 3.5rem;
      background-color: #4BB7F4;
      color: #fff !important;
      border-radius: 100%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 3.0rem;
      margin-right: 1rem;
  }

  .social-icons a:last-child {
      margin-right: 0;
  }

  .social-icons a:hover {
      background-color: #6d7fcc;
  }
  .navbar {
	  background-color: #f5f5f5;
      color: #73748F;
   }
   #id_name, #id_email, #id_password{
	  border-color:blue;
   }
  </style>

    <meta charset="utf-8" />
    <title>Hello there (General Kenobi) !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script>
        var can_submit=false;
        var csrftoken = getCookie('csrftoken');
        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function valid(){
            if(($("#id_email").val()==null || $("#id_email").val()=="") || ($("#id_password").val()==null || $("#id_password").val()=="") || ($("#id_name").val()==null || $("#id_name").val()=="")){
                return false;
            }
            return true;
        }

        $(document).ready(function() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $("form").submit(function(event) {
                $.ajax({
                    method: "POST",
                    url: '/subscribe/submit/',
                    data: {
                        'name': $('#id_name').val(),
                        'email': $("#id_email").val(),
                        'password': $("#id_password").val(),
                    },
                    dataType: 'json',
                    success: function(msg) {
                        $("#id_password").val('');
                        $("#id_name").val('');
                        $("#id_email").val('');
                        alert("Thank you for registering");
                        $('#warning').html('');

                    },
                    error: function(msg){
                        alert('Email NOT Sent');
                    },
                });
                event.preventDefault();
            });
            $(document).ready(function() {
                $("#submit").click(function() {
                    $('#warning').html('You will be notified for the first newsletter soon');
                });
            });
            $("#id_password").change(function () {
                if (valid() && can_submit){
                    $("#submit")[0].disabled=false;
                }
                else {
                    $("#submit")[0].disabled=true;
                }
            });
            $("#id_name").change(function () {
                if(valid() && can_submit){
                    $("#submit")[0].disabled=false;
                }
                else{
                    $("#submit")[0].disabled=true;
                }
            });
            $("#id_email").change(function () {
                email = $(this).val();
                $.ajax({
                    method: "POST",
                    url: '/subscribe/checkemail/',
                    data: {
                        'email': email
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (isEmail(email)==false) {
                            $('#id_email').css("border-color", "red");
                            $("#submit")[0].disabled=true;
                            $('#warning').html('Email is not valid');
                            can_submit=false;

                        }
                        else if (data.already_registered) {
                            alert("Email is already registered");
                            $('#id_email').css("border-color", "red");
                            $("#submit")[0].disabled=true;
                            $('#warning').html('Email is already registered');
                            can_submit= false;
                        }
                        else {
                            if (valid()){
                                $("#submit")[0].disabled=false;
                                $('#id_email').css("border-color", "blue");
                            }
                            can_submit=true;
                            $('#warning').html('');
                        }
                    }
                });
            });
        })
    </script>
  </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link" href="{% url 'bio' %}">Ihsan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'bio' %}">Home </a>
                <a class="nav-item nav-link" href="{% url 'index' %}">Status</a>
                <a class="nav-item nav-link" href="{% url 'lib' %}">Books</a>
                <a class="nav-item nav-link active" href="{% url 'subscribe' %}">Subscribe <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>

  <br>

  <body>
    <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p class="label_tag">{{ field.label_tag }} <br> {{ field }} </p>
                {% endfor %}
                <input style="margin-bottom:10px" disabled=true class="btn btn-info btn-lg" id="submit"  type="submit" value="Submit" >
            </form>

        <div id="dialog" title="Announcement"></div>

        <div id="warning"></div>
    </div>

    <div class="container">
        <p class="lead mb-5">Register to get newsletters and more!</p>
    </div>
  </body>

  <footer class = "footer">
	<div class = "container">
		<span class = "text">Ihsan M. Aulia</span>
		<span class = "text">© 2018 Copyright</span>
	</div>
  </footer>


</html>

{% endblock %}
